form {
    display: flex;
    flex-direction: column;
    width: 900px
}

.App {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #f4f5f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(12, 12, 12);
}

.ItemEntryForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: center;
    color: rgb(12, 12, 12);
    font-size: medium;
    padding: 20px;
}

.ItemEntryForm,
.Item {
    display: flex;
    justify-content: left;
}

.Item {
    padding-top: 5px;
    padding-bottom: 5px;
    align-content: flex-start;
}

.Item label {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
    justify-content: left;
}

.ItemWide {
    width: 500px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
/* CSS */
.button-19 {
  appearance: button;
  background-color: #acacac;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 25%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #537b04;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.3);
}

.button-19:disabled {
  cursor: auto;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}